Source: munin-plugins-contrib
Section: net
Priority: extra
Maintainer: Markus Heberling <markus@tisoft.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/collab-maint/munin-plugins-contrib.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/munin-plugins-contrib.git;a=summary

Package: munin-plugins-contrib
Architecture: all
Depends: munin-node, ${shlibs:Depends}, ${misc:Depends}
Recommends: perl, python, update-notifier-common
Enhances: dspam
Description: Several plugins from the munin plugin exchange
 Currently contains the follwing plugibs:
  * apt_ubuntu
  * raid
  * dspam_
  * ksm_
